{% extends "content.html" %}
{% load static %}


{% block container %}
  <div class="title">
    <h3>{% if is_update %}<i class="bi bi-pencil-square"></i> Update Students {{ object.pk }}{% else %}<i class="bi bi-clipboard-plus"></i> Create New Students{% endif %}</h3>
  </div>

  <div class="block">
    <form method="POST" enctype="multipart/form-data">
{% csrf_token %}      <div class="input-field col s12">
        <label for="ldsyv">{{ form.ldsyv.label }}</label>
{{ form.ldsyv }}      </div>
      <div class="input-field col s12">
        <label for="oam6sb4">{{ form.oam6sb4.label }}</label>
{{ form.oam6sb4 }}      </div>
      <div class="input-field col s12">
        <label for="_1mfmyy4hb">{{ form._1mfmyy4hb.label }}</label>
{{ form._1mfmyy4hb }}      </div>
      <div class="input-field col s12">
        <label for="da13a8dmye8tlsey">{{ form.da13a8dmye8tlsey.label }}</label>
{{ form.da13a8dmye8tlsey }}      </div>
      <div class="buttons">
        <a class="btn btn-secondary" href="{% if is_update %}{% url 'testprojectds:students-edit' pk=object.pk %}{% else %}{% url 'testprojectds:students-new' %}{% endif %}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="{% if is_update %}Update{% else %}Save{% endif %}">
      </div>
    </form>
  </div>

{% endblock container %}
